*{
   padding: 0;
   margin: 0;
}

body{
 
   width: 100%;
   height: 100vh;
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10pvh;
}

.navbar{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.vid-1{
   width: 100%;
   height: 100vh;
   background-image: url('/asset/vid-1.gif');
   position: fixed;
   z-index: -1;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

#card{
   display: none;
}